@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OkezoneChamoonRegular;
  src: local("OkezoneChamoonRegular"),
    url("./fonts/OkezoneChamoonRegular.ttf") format("truetype");
}

:root {
  --cream: #fcffea;
  --blue: #5398bf;
  --light-yellow: #ffc642;
  --dark-yellow: #e9b82f;
  --red: #c83f21;
  --green: #95bb5c;
  --sorta-black: #030304;
  --bubble-gum: #ba9ffb;
}

.logo {
  font-family: OkezoneChamoonRegular;
}

body:not(.logo) {
  font-family: "Gabarito", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
}

.mobile-menu ul {
  transition: 1.5s ease-in-out;
}
.mobile-menu ul.open {
  transform: translateX(500px);
}
.mobile-menu ul.close {
  transform: translateX(0);
}

.ham-menu {
  width: 20px;
}

.ham-menu div,
.ham-menu:after,
.ham-menu:before {
  background-color: var(--cream);
  content: "";
  display: block;
  height: 3px;
  border-radius: 100px;
  margin: 5px 0;
  transition: 0.5s;
}

.ham-menu.close:before {
  transform: translateY(7.7px) rotate(135deg);
}
.ham-menu.close:after {
  transform: translateY(-7.7px) rotate(-135deg);
}
.ham-menu.close div {
  transform: scale(0);
}

.topic-comments-wrapper:before {
  bottom: 0;
  content: "";
  display: block;
  left: 10%;
  position: absolute;
  top: 0;
  width: 1px;
  z-index: 0;
}
.post:before,
.post:after {
  display: block;
  position: absolute;
  top: 11px;
  right: 100%;
  left: -8px;
  background-color: burlywood;
  width: 8px;
  height: 16px;
  content: "";
  pointer-events: none;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
}
.post:after {
  margin-left: 1.5px;
}
